.center{
  margin-top: 200px;
 
  
  /* margin-left: 150px; */
/*   
  width:1180px; */
}
.body{
 display:flex;
}

.banner{
  
 position: relative;
 top:'400px';
 left: 200px;
}
.banner-typography{
  
     
  position: relative;
  left:750px;
    color: black;
    bottom:400px;
    width:600px;
    height: 450px;
   
    background-color:white;
   
   
   padding: 120px 150px;
  


}
@media (max-width:1300px) {
  .banner-typography{
    position: relative;
    width:500px;
    left:500px;
    
    padding: 100px 100px;
  }
  .banner{
  width: 600px;
    position: relative;
    top:'400px';
    left:50px;
   }
}

@media (max-width:950px) {
  .banner{
  
    position: relative;
    top:'400px';
    left: 0px;
    width:1000px
   }
   .banner-typography{
    position: relative;
    width:1000px;
    top:0px;
    left:5px;
    font-size: 20px;
    padding: 200px 200px;
  }
}
